<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CRM">
  <test thread-count="5" name="TestCRMAPP">
    <classes>
      <class name="testPages.LoginPageTest"/>
      <class name="testPages.HomePageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
